.pytest_cache/
.venv/
**/__pycache__/

# build
*.egg-info/
dist/
build/

# training artifacts
runs/
*.npy

# LIME output
lime-html/

# generated data
*.jsonl
*.json

# test output
test-output/

# subdirectories of model/ for finetuned models
model/*/

# contents of html-explanations dir
html-explanations/*
!html-explanations/.gitkeep
